body {
  background: linear-gradient(180deg, #ffffff, #bbbbbb);
  background-repeat: no-repeat;
  max-width: 100vw;
  height: 150vh;
  margin: 0px;
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
}

button {
  background-color: #252525;
  color: #FFFFFF
}

th, td {
  padding: 1%;
}

h1 {
  display: flex;
  justify-content: center;
}

h2, h3 {
  display: flex;
  justify-content: center;
}

header {
  background-color: rgb(244, 234, 218);
}

.button--book-room {
  margin-left: 2%
}

.error--login-page {
  color: red;
}

.container--date-picker, .dropdown {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* .section--customer-dashboard, .section--new-booking {
background-color: rgb(231, 231, 231);
} */

.container--log-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1% auto 1% auto;
}

.container--make-new-booking, .container--customer-stays, .section--new-booking {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(231, 231, 231);
}

.text--previous-total, .text--upcoming-total {
  display: flex;
  justify-content: center;
}

.text--customer-message {
  padding-left: 2%;
}

/* .table--upcoming-stays, .table--previous-stays {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
} */

.hidden {
  display: none;
}