* {
  border: 2px rgb(130, 147, 147) solid;
}

body {
  background: linear-gradient(180deg, #ffffff, #bbbbbb);
  background-repeat: no-repeat;
  max-width: 100vw;
  height: 100vh;
  margin: 0px;
  font-family: 'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif;
  
}



h1 {
  display: flex;
  justify-content: center;
}

h2, h3 {
  display: flex;
  justify-content: center;
}

header {
  background-color: rgb(244, 234, 218);
}


/* .section--customer-stays {

} */

.text--previous-total, .text--upcoming-total {
  display: flex;
  justify-content: center;

}

.text--user-message {
  padding-left: 2%;
}

.table--upcoming-stays, .table--previous-stays {
  display: flex;
  justify-content: center;
}